/* home.html */
body {
    font-size: 28px;
    height: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Add more styles as needed */
}

#main-heading {
    margin-left: 50px;
    background: linear-gradient(90deg, black, black) 0 0/10% 100% no-repeat,
               linear-gradient(90deg, red, red) 10px 0/20% 100% no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    margin: 0;
}
